* {box-sizing:border-box;}
html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.container {
  height: 100%;
  position: relative;
}
p,.header_title{
  font-size: 50px;
}

div{
  position: relative;
}

.price{
  font-size: 40px;
}

.options-box {
  background: #2eb6C1;
  border: 1px solid #999;
  border-radius: 3px;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 500px;
}

.nav{
  padding-bottom: 0.5em;
  list-style: none;
}


.nav_item:hover {
  background: #2f97dc;
  cursor: pointer;

}

li{
  color: #ffffff;
  font-size: 90px;
}


ul{
  list-style: none;

  padding: 0;
  margin: 0;
}

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.nav_list {
  width: 100%;
  padding: 0;
  margin: 0;
}


.nav a {
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
}


.nav a:hover {
  text-decoration: underline;
  color: #212121;
}
#info {
  top: 150px;
  bottom:0px;
  height: 100%;
  left: 842px;
  position: absolute;
  right: 0px;
  font-size: 90px;
}
